/*
Main things
*/

* {
  margin: 0;
  padding: 0;
  transition: 1s;
}

:root {
  --header-spacing: calc(10px + 2vh - 1vw);
  --h1-size: calc(4vh - 1vw + 20px);
  --navbar-box-size: calc(12px + 2vh);
  --color-background: rgb(22, 20, 36);
  --color-main: rgb(0, 0, 0);
  --color-secondary: rgb(48, 32, 79);
  --color-text: rgb(152, 163, 227);
  --color-special: rgb(220, 150, 60);
  --color-visited: rgb(180, 180, 180);

  background-color: var(--color-special);
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--color-background);
  min-height: 100vh;

  color: var(--color-text);
}

@font-face {
  font-family: Title-cursive;
  src: url(fonts/AntaraDistance.ttf);
}

/*
Default styling across pages for things like text
*/

p,
label {
  width: fit-content;
  margin: auto;
  color: var(--color-text);
  font-size: calc(1.3vw + 7px);
}

h2 {
  font-size: calc(2.2vw + 7px);
  width: fit-content;
  margin: 0 auto 10px auto;
  color: var(--color-special);
  text-align: center;
}

h3 {
  color: var(--color-special);
  font-size: calc(1.3vw + 7px);
}

u {
  font-weight: bold;
  font-style: italic;
}

a {
  transition: 0.2s;
}

a:link {
  color: var(--color-special);
}

a:visited {
  color: var(--color-visited);
}

a:hover {
  color: var(--color-text);
}

a:active {
  color: var(--color-special);
}

*::selection {
  background-color: var(--color-special);
  color: var(--color-main);
}

.golden_frame {
  border: 7px ridge var(--color-special);
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px 5px rgba(30, 20, 100, 0.541);
}

/*
Header styling
*/

header {
  position: sticky;
  top: 0;

  background-color: var(--color-main);
  width: calc(var(--header-spacing) * var(--header-spacing));
  height: fit-content;

  padding: var(--header-spacing);
  border-bottom: 5px solid var(--color-secondary);
}

h1 {
  margin: auto;
  margin-top: var(--header-spacing);

  color: var(--color-special);
  width: fit-content;
  font-size: calc(2 * var(--h1-size));

  padding: 5px;
  font-family: Title-cursive;

  animation: h1-fire 2s linear infinite;
}

h1::selection {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

@keyframes h1-fire {
  0% {
    text-shadow: -2px -2px 1px rgba(255, 0, 0, 1),
      -3px -6px 3px rgba(255, 100, 0, 0.4), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }

  10% {
    text-shadow: -2px -2px 2px rgba(255, 0, 0, 0.9),
      -3px -7px 3px rgba(255, 200, 0, 0.4), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  20% {
    text-shadow: -2px -3px 3px rgba(255, 0, 0, 0.8),
      -3px -7px 3px rgba(255, 100, 0, 0.2), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  30% {
    text-shadow: -2px -4px 2px rgba(255, 0, 0, 0.7),
      -3px -8px 3px rgba(255, 100, 0, 0.1), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  40% {
    text-shadow: -2px -6px 2px rgba(255, 0, 0, 0.9),
      -3px -9px 3px rgba(255, 200, 0, 0), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  50% {
    text-shadow: -2px -8px 3px rgba(255, 0, 0, 0.6),
      -3px -1px 3px rgba(255, 200, 0, 0), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  60% {
    text-shadow: -2px -9px 3px rgba(255, 0, 0, 0.4),
      -3px -2px 3px rgba(255, 200, 0, 1), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  70% {
    text-shadow: -2px -11px 3px rgba(255, 0, 0, 0.3),
      -3px -2px 3px rgba(255, 100, 0, 1), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  80% {
    text-shadow: -2px -12px 3px rgba(255, 0, 0, 0.2),
      -3px -4px 3px rgba(255, 100, 0, 0.9), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  90% {
    text-shadow: -2px -14px 3px rgba(255, 0, 0, 0.1),
      -3px -5px 3px rgba(255, 200, 0, 0.8), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
  100% {
    text-shadow: -2px -14px 3px rgba(255, 0, 0, 0.1),
      -3px -6px 3px rgba(255, 100, 0, 0.6), 1px -2px 3px rgba(255, 0, 0, 0.142),
      0px 0px 20px rgb(255, 255, 167);
  }
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  right: calc(2 * var(--header-spacing));
  top: calc(3 * var(--header-spacing));

  width: fit-content;
}

#settings i {
  font-size: var(--h1-size);
}

#settings:hover i {
  transform: rotate(180deg) scale(1.2);
}

#settings ul {
  visibility: hidden;
  background-color: var(--color-secondary);
  width: 0;
  margin-top: 5px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out 0.2s, margin-right 0.2s ease-in-out 0s;
}

#settings:hover ul {
  visibility: visible;
  width: 200px;
  padding: 10px;
  padding-left: 70px;
  margin-top: 15px;
  margin-right: 0px;
  transition: all 0.4s ease-in-out, margin-right 0.3s ease-in-out 0.3s;
}

#settings ul li {
  visibility: hidden;
  font-size: 0px;
  color: var(--color-text);
  transition: 0.3s ease-in 0s;
}

#settings:hover ul li {
  visibility: visible;
  font-size: 30px;
  margin: 5px;
  transition: 0.3s ease-out 0.3s;
}

#lang-en {
  list-style-image: url(images/en_language_flag.png);
}

#lang-pt {
  list-style-image: url(images/pt_language_flag.png);
}

#lang-se {
  list-style-image: url(images/se_language_flag.png);
}

/*
Navbar styling (technically included in header)
*/
#nav-visibility-button {
  display: none;

  width: fit-content;
  margin: -5px 0 -2px;

  transition: 0.2s;
}

#nav-visibility-button:hover {
  rotate: 90deg;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: var(--header-spacing) auto 0;

  background-color: var(--color-secondary);
  width: 90%;
  height: calc(2 * var(--navbar-box-size));

  padding: calc(var(--navbar-box-size) / 4);
}

nav a {
  text-align: center;

  background-color: var(--color-text);
  font-size: var(--navbar-box-size);

  padding: calc(var(--navbar-box-size) * 0.3);
  border-radius: 8px;

  transition: 0.5s;
}

nav a:any-link {
  color: var(--color-secondary);
}

/* hover styles in media queries */

nav a:active {
  background-color: var(--color-main);
  color: var(--color-special);
  transform: scale(0.9);

  transition: 0.2s;
}

.current_page {
  background-color: var(--color-main);
}

/*
Main section styling
*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  margin: auto;
  margin-top: 4vh;
  margin-bottom: 6vh;

  background-color: var(--color-main);
  width: 80%;

  border: 5px solid var(--color-secondary);
}

main article {
  margin: 20px;

  width: fit-content;
  background-color: var(--color-secondary);

  padding: 10px;
  border-radius: 2px;
}

main article h2 {
  max-width: 67%;
}

main article h3 {
  text-align: left;
}

main article p,
main article h3,
main article form label {
  width: 60vw;
  margin: 0 2vw;
}

/*
Images
*/

main article img {
  display: block;

  width: 35vw;
  margin: auto;
}

/*
Labels
*/

input[type="radio"] + label {
  margin-left: -1.8vw;
}

main article input {
  margin: 0 2vw;
}

/*
Dates
*/

.date {
  text-align: right;
}

/*
Footer styling
*/
footer {
  display: flex;
  justify-content: center;

  background-color: var(--color-secondary);

  padding: 5vh 0;
}

footer p {
  margin: 0.5vw;
}

/*
Media queries for device width 
*/

@media screen and (min-width: 768px) {
  nav a:not(.current_page):not(:active):hover {
    background-color: white;
    color: var(--color-main);
    transform: scale(1.2);
  }
  .current_page:any-link:not(:hover) {
    color: var(--color-special);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --header-spacing: calc(1px + 3vh - 1vw);
    --h1-size: calc(3vh - 1vw + 20px);
    --navbar-box-size: calc(7px + 1vw + 1vh);
  }

  header {
    top: calc(0px - 2 * var(--h1-size) - 4 * var(--header-spacing));
  }
}

@media screen and (max-width: 480px) {
  :root {
    --header-spacing: calc(1px + 2vh - 1vw);
    --h1-size: calc(3vh - 1vw + 8px);
    --navbar-box-size: calc(4px + 1vw + 1vh);
  }
  .golden_frame {
    border-radius: 1px;
    border-width: 4px;
  }
  nav a {
    border-radius: 4px;
  }
  nav {
    display: none;
  }
  #nav-visibility-button {
    display: block;
  }
  header {
    top: calc(0px - 2 * var(--h1-size) - 3 * var(--header-spacing));
  }
}
